/HotorNot/*.iml
/HotorNot/.gradle
/HotorNot/local.properties
.idea
/HotorNot/.idea/caches
/HotorNot/.idea/libraries
/HotorNot/.idea/modules.xml
/HotorNot/.idea/workspace.xml
/HotorNot/.idea/navEditor.xml
/HotorNot/.idea/assetWizardSettings.xml
/HotorNot/.DS_Store
/HotorNot/build
/HotorNot/captures
/HotorNot/.externalNativeBuild
/HotorNot/.cxx
/HotorNot/local.properties
